@import "tailwindcss";
@font-face {
    font-family: "MinecraftFont";
    src: url("../public/Minecraft.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  width: 100%;
  height: 10vh;
  background-color:silver;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid black;
  
}
.top-bar img {
  width: 5%;
}
.top-bar h1 {
  font-family: "MinecraftFont", sans-serif;
  font-size: x-large;
}
.body {
  height: 90vh;
  background-color:white;
  display: flex;
  flex-direction: row;
}

.side-bar{
  padding: 5px;
  padding-top: 10px;
  height: 100%;
  width: 15%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.side-logout {
  margin-top: auto;;
}
.side-nav li{
  text-align: center;
  align-content: center;
  height: 50px;
  border: 2px solid black;
  border-radius: 5%;
  margin-bottom: 10px;
  font-size: x-large;
 
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
  font-family: "MinecraftFont", sans-serif;
}

/* .side-logout li{
  text-align: center;
  align-content: center;
  height: 50px;
  border: 2px solid black;
  border-radius: 5%;
  margin-bottom: 10px;
  font-size: x-large;
  font-family: "MinecraftFont", sans-serif;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);

} */
.side-bar li:hover{
  background-color: chartreuse;
}
.side-bar li:active{
  background-color:darkorange;
}
.main{
  padding: 20px;
  width: 100%;
  padding-left: 50px;
}

h2{
  font-family: "MinecraftFont", sans-serif;
  font-size: x-large;
}
.find-structures-form{
  width: fit-content;
  background-color:goldenrod;
  display: flex;
  flex-direction: row;
  justify-content:start;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;

  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.find-structures-form div {
  padding-right: 50px;
}
.find-structures-form > div > input, select{
  background-color: white;
}
.find-structures-button {
  background-color:white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: "MinecraftFont", sans-serif;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.find-structures-button:hover {
  background-color:chartreuse;
}
.body-output {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 5px;
  height: calc(90vh - 15vh);
}
.structureType {
  font-family: "MinecraftFont", sans-serif;
  font-size: 3em;
}
.structureType2 {
  font-family: "MinecraftFont", sans-serif;
  font-size: 3em;
}
.historyTitle {
  font-family: "MinecraftFont", sans-serif;
  font-size: 2em;
}
.historyItem {
  border: 2px solid black;
  width: 25%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
  background-color:darkgray;
  color: white;
}
.historyItem2 {
  border: 2px solid black;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
  background-color:darkgray;
  color: white;
}
.historyItem h3 {
  font-family: "MinecraftFont", sans-serif;
  font-size: 1.5em;
}
.history {
  overflow-y: auto;
  flex: 1;
}
body{
  overflow-y: hidden;
}
.body{
  height: 90vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.logsign-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* centers vertically */
  height: 100vh;

  background-image: url("/background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logMCLogo{
  width: 15%;
}
.logsign-form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.20);
  
  font-family: "MinecraftFont", sans-serif;

}
.login-title{
  font-family: "MinecraftFont", sans-serif;
  text-align: center;
  font-size: 5em;
  color: white;
}
.login-form{
  border-radius: 5px 0px 0px 5px;
  padding: 50px;
  background-color: goldenrod;
}
.signup-form{
  border-radius: 0px 5px 5px 0px;
  padding: 50px;
  background-color: silver;
}


.logsign-form input {
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.login-text{
  font-family: "MinecraftFont", sans-serif;
  color: white;
}
/* =========================
   TABLETS
========================= */

@media (max-width: 1024px) {

    .side-bar {
        width: 20%;
    }

    .main {
        padding-left: 25px;
    }

    .find-structures-form {
        flex-wrap: wrap;
    }

    .historyItem {
        width: 50%;
    }
    .historyItem2 {
        width: 50%;
    }
    .login-title {
        font-size: 4em;
    }

    .logsign-form {
        width: 80%;
    }
}


/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

    /* Dashboard */

    .body {
        flex-direction: column;
    }


    .side-bar {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
    }
    .structureType2 {
      font-family: "MinecraftFont", sans-serif;
      font-size: 1em;
    }

    .side-nav,
    .side-logout {
        display: flex;
        gap: 10px;
    }


    .side-logout {
        margin-top: 0;
    }


    .side-nav li,
    .side-logout li {
        width: 100px;
        font-size: medium;
    }


    .main {
        padding: 15px;
    }


    .find-structures-form {
        width: 100%;
        flex-direction: column;
    }


    .find-structures-form div {
        padding-right: 0;
    }

    .find-structures-button {
      margin-top: 5px;
    }

    .historyItem {
        width: 100%;
    }
    .historyItem2 {
        width: 100%;
    }

    /* Login */

    .logsign-page {
        padding: 20px;
    }


    .login-title {
        font-size: 3em;
    }


    .logMCLogo {
        width: 30%;
    }


    .logsign-form {
        width: 95%;
        flex-direction: column;
    }


    .login-form,
    .signup-form {
        padding: 30px;
    }


    .login-form {
        border-radius: 5px 5px 0 0;
    }


    .signup-form {
        border-radius: 0 0 5px 5px;
    }
    body {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .body {
        height: auto;
        min-height: 90vh;
        overflow: visible;
    }

    .main {
        overflow: visible;
    }

    .body-output {
        height: auto;
    }

    .history {
        overflow-y: visible;
    }
    .top-bar img {
      width: 15%;
    }

}


/* =========================
   SMALL PHONES
========================= */

@media (max-width: 480px) {


    .top-bar h1 {
        font-size: large;
    }


    .side-bar {
        flex-direction: column;
    }


    .side-nav,
    .side-logout {
        width: 100%;
        flex-direction: column;
    }


    .side-nav li,
    .side-logout li {
        width: 100%;
    }


    .login-title {
        font-size: 2em;
    }


    .logMCLogo {
        width: 40%;
    }


    .login-form,
    .signup-form {
        padding: 20px;
    }

}

.spinner-container {
    margin-top: 20px;
    text-align: center;
}


.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #ccc;
    border-top: 5px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.mc-button {
    height: 45px;
    width: 100%;

    cursor: pointer;
    overflow: hidden;
    user-select: none;

    background: #999;

    image-rendering: pixelated;

    border: 2px solid #000;

    padding: 0;
}


.mc-button .title {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    color: #DDD;

    font-family: MinecraftFont, sans-serif;

    font-size: 18px;

    text-shadow:
        2px 2px #000;


    /* bevel */
    box-shadow:
        inset -2px -4px #0006,
        inset 2px 2px #FFF7;
}



/* Hover */

.mc-button:hover .title {

    background-color: rgba(100,100,255,.45);

    color:#FFFFA0;

    text-shadow:
        2px 2px #202013;

}



/* Click */

.mc-button:active .title {

    box-shadow:
        inset -2px -4px #0004,
        inset 2px 2px #FFF5;

}
.mc-ul {
  margin-bottom: 10px;
}